html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: $white;
	font-family:$font-stack;
	font-size:percentage(1);
	color:$black;
}

div.container-fixed{
	width:1200px;
	margin:0 auto;
}

div.container-fluid{
	width:100%;
}

